/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bv1m2l6qkp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bv1m2l6qkp] {
  color: #111111;
}

.btn-primary[b-bv1m2l6qkp] {
  color: #fff;
  background-color: #111111;
  border-color: #111111;
}

.nav-pills .nav-link.active[b-bv1m2l6qkp], .nav-pills .show > .nav-link[b-bv1m2l6qkp] {
  color: #fff;
  background-color: #111111;
  border-color: #111111;
}

.border-top[b-bv1m2l6qkp] {
  border-top: 1px solid #e3e3e3;
}
.border-bottom[b-bv1m2l6qkp] {
  border-bottom: 1px solid #e3e3e3;
}

.box-shadow[b-bv1m2l6qkp] {
  box-shadow: none;
}

button.accept-policy[b-bv1m2l6qkp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bv1m2l6qkp] {
  position: static;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
